table{
    margin: 0 auto;
    border-spacing: 0 8px;
}
table td{
    padding:7px;
    border: 0.5px solid rgba(255, 255, 255, 0.421);

}
table tr{
    margin: 2px;
}
table tr td{
    cursor: pointer;
}